<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.Mapper.orderMapper">

    <insert id="insertIntomain" parameterType="com.example.demo.Entity.main" useGeneratedKeys="true" keyProperty="id">
        insert into main (`count`) values (#{count})
    </insert>

    <select id="getId" resultType="com.example.demo.Entity.main">
        select * from main
    </select>

    <select id="getList" resultType="com.example.demo.Entity.diancan" parameterType="int">
        select * from diancan where id = #{id}
    </select>

    <insert id="createDiancan" parameterType="com.example.demo.Entity.diancan">
        insert into diancan values (#{id}, #{a}, #{b}, #{c}, #{d}, #{e}, #{f}, #{g}, #{h}, #{i})
    </insert>

    <delete id="delete" parameterType="int" >
        delete from diancan where id = #{id};
    </delete>

    <select id="getMenu" resultType="com.example.demo.Entity.menu">
        select * from menu
    </select>

    <select id="getMenuById" resultType="com.example.demo.Entity.menu">
        select * from menu where id = #{id}
    </select>

    <select id="getCount" resultType="int">
        select `count` from main where id = #{t}
    </select>


</mapper>